:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #8e8e8e;
  --low-gray: #e9e7e7;

  // ===== SAVED COLORS ===== \\

  --darkBlue: #1a33b3;

  --green: #698613;

  --brown: #59200d;

  --orange: #ff8c00;

  // ===== FINAL SAVED COLORS ===== \\
}
