@import "../../../theme/variables.scss";
@import "../../../theme/rem-calc.scss";
:host {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;

    gap: remc(20);

    .content {
      width: 80vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      gap: remc(17);
      background-color: var(--low-gray);
      padding: remc(50) remc(50) remc(50);
      border: 0.5px solid var(--black);
      border-radius: remc(5);

      .title {
        font-size: remc(34);
      }

      .content-post {
        font-size: remc(18);
        line-height: remc(25);
      }
    }
  }
}
